.App {
  background-color: aqua;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}





.App-link {
  color: #61dafb;
}



.card{
  max-width: 500px;
  min-height: 400px;
  width: 100%;
  box-shadow: 0 2px 6px  #555;
  margin:50px auto ;
  padding: 50px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
}


